flows.json
[{"id":"bf49d307.f3a92","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2f1c8878.c98808","type":"ui_form","z":"bf49d307.f3a92","name":"","label":"","group":"90e61c2e.f7ff4","order":1,"width":0,"height":0,"options":[{"label":"Username","value":"name","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","password":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":70,"y":300,"wires":[["cf5b5fd9.6c2a4"]]},{"id":"8b46b906.0be3b8","type":"debug","z":"bf49d307.f3a92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":320,"y":220,"wires":[]},{"id":"cf5b5fd9.6c2a4","type":"function","z":"bf49d307.f3a92","name":"","func":"msg.payload=\"Login successfull!!\"\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":340,"wires":[["8b46b906.0be3b8","503d39a8.079568"]]},{"id":"503d39a8.079568","type":"ui_text","z":"bf49d307.f3a92","group":"90e61c2e.f7ff4","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":280,"y":460,"wires":[]},{"id":"f64a879.b881f78","type":"ui_form","z":"bf49d307.f3a92","name":"","label":"","group":"ab8ce4fe.8ad168","order":1,"width":0,"height":0,"options":[{"label":"Public Bus","value":"name","type":"checkbox","required":true,"rows":null},{"label":"Private Bus","value":"tick","type":"checkbox","required":true,"rows":null},{"label":"Mini van","value":"number","type":"checkbox","required":true,"rows":null}],"formValue":{"name":false,"tick":false,"number":false},"payload":"","submit":"submit","cancel":"reset","topic":"","x":600,"y":240,"wires":[["bbc19507.4995d8"]]},{"id":"2930ae2b.d2bc52","type":"debug","z":"bf49d307.f3a92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":280,"wires":[]},{"id":"bbc19507.4995d8","type":"function","z":"bf49d307.f3a92","name":"","func":"msg.payload=\"Successfully Selected!!\"\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":400,"wires":[["5fa82525.4f4afc","2930ae2b.d2bc52"]]},{"id":"5fa82525.4f4afc","type":"ui_text","z":"bf49d307.f3a92","group":"ab8ce4fe.8ad168","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":890,"y":380,"wires":[]},{"id":"13ab58d3.869317","type":"ui_form","z":"bf49d307.f3a92","name":"","label":"","group":"72caf93f.ef9e28","order":1,"width":0,"height":0,"options":[{"label":"Full Name","value":"name","type":"text","required":true,"rows":null},{"label":"Last Name","value":"hh","type":"text","required":true,"rows":null},{"label":"Address","value":"gg","type":"text","required":false,"rows":null},{"label":"Mobile Number","value":"number","type":"number","required":false,"rows":null},{"label":"E-mail","value":"mail","type":"email","required":false,"rows":null},{"label":"Date of Travel","value":"date","type":"date","required":false,"rows":null}],"formValue":{"name":"","hh":"","gg":"","number":"","mail":"","date":""},"payload":"","submit":"submit","cancel":"Reset","topic":"","x":430,"y":700,"wires":[["f7d5cf02.94997"]]},{"id":"88d8be15.c2796","type":"debug","z":"bf49d307.f3a92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":720,"wires":[]},{"id":"f7d5cf02.94997","type":"function","z":"bf49d307.f3a92","name":"","func":"msg.payload=\"Registration Successfull!!\"\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":800,"wires":[["88d8be15.c2796","e8bd541a.1818d8"]]},{"id":"e8bd541a.1818d8","type":"ui_text","z":"bf49d307.f3a92","group":"72caf93f.ef9e28","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-right","x":800,"y":840,"wires":[]},{"id":"90e61c2e.f7ff4","type":"ui_group","z":"","name":"Login","tab":"851685bb.67d268","order":1,"disp":true,"width":"6","collapse":false},{"id":"ab8ce4fe.8ad168","type":"ui_group","z":"","name":"Transportation","tab":"d184990a.c3d888","order":1,"disp":true,"width":"6","collapse":false},{"id":"72caf93f.ef9e28","type":"ui_group","z":"","name":"User details","tab":"763442bb.ea5dec","order":1,"disp":true,"width":"6","collapse":false},{"id":"851685bb.67d268","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d184990a.c3d888","type":"ui_tab","z":"","name":"Registration","icon":"dashboard","disabled":false,"hidden":false},{"id":"763442bb.ea5dec","type":"ui_tab","z":"","name":"Registation Details","icon":"dashboard","disabled":false,"hidden":false}]